* {
  font-family: 'Inter';
  margin: 0px;
}

html {
  height: 100%;
  width: 100%;
}

/*Nav Section*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.navbar-left {
  display: flex;
  align-items: center;
}


.logo {}

.navbar-right {
  margin-right: 150px;
  display: flex;
  flex-direction: row;
}

.navbar-right a {
  text-decoration: none;
}

.navbar-right a i {
  height: 50px;
  width: 50px;
  font-size: 24px;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa:hover {
  color: #ff8e01;
  cursor: pointer;
}

/*Hero Section*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.column-left {
  margin-right: 0px;
}

.column-left img {
  width: 350px;
  margin-right: 250px;
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-right img {
  width: 50%;
  margin-bottom: 20px;
}

.hero .column-right h1 {
  font-size: 96px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

p {
  font-size: 24px;
  font-weight: 300;
}

.extra-light {
  font-weight: 200;
  color: #282828;
  text-align: center;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.bold {
  font-weight: 600;
}

.button-row {
  display: flex;
}

a {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.white-background {
  background-color: #fff;
  color: #333;
  margin-right: 10px;
  border: solid black 2px;
  border-radius: 5px;
}

.white-background:hover {
  background-color: #FF8E01;

}

.orange-background {
  background-color: #FF8E01;
  border: solid black 2px;
  border-radius: 5px;
}

.orange-background:hover {
  background-color: #ffffff;
  color: #333;
}

/*Map Section*/
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px
}

.map h3 {
  text-align: center;
  margin-bottom: 60px;
}

.h {
  width: 75%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  margin-bottom: 60px;
}

.map-container p {
  text-align: center;
  font-weight: 200;

}

/*What is section*/
.what {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.text-desc {
  max-width: 600px;
  margin-right: 200px;
}

h3 {
  font-size: 40px;
  margin-bottom: 25px;
}

.description {
  font-size: 24px;
  font-weight: 300;
  text-align: justify;
}

.what-img {
  width: 350px;
  border: 2px solid #000000;
  border-radius: 500px;
}

.big-star {
  width: 75px;
  position: absolute;
}

.right {
  position: relative;
}

.little-star {
  width: 50px;
  transform: rotate(-37deg);
  position: absolute;
}

/*Characteristics section*/

.characteristics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 75px 0px 75px;
  height: 600px;
}

.back {
  background-color: #0563BB;
  border: 2px solid #000000;
  border-radius: 100px;
  width: 185px;
  height: 253px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back2 {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 100px;
  width: 139px;
  height: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container .info {
  margin-top: 50px;
  max-width: 300px;
  text-align: justify;
}

/* Why Section*/
.why .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.why .column {
  width: 48%;
}

.why .left {
  margin-right: 2%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.why .right {
  margin-left: 2%;
}

.why h3 {
  font-size: 40px;
}

.why p {
  margin-top: 30px;
  text-align: justify;
}

.why .image-container {
  position: relative;
}

.why .main-image {
  display: block;
  width: 550px;
  border: 2px solid black;
  border-radius: 20px;
}

.why .little-image {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
}

.why .psycotiger {
  position: absolute;
  top: 300px;
  right: -50px;
  width: 150px;
}

.why .cat {
  position: absolute;
  top: 300px;
  right: -50px;
  width: 150px;
}

.why .bodega {
  position: absolute;
  top: 200px;
  right: 350px;
  width: 300px;
}

/*Everybody section*/
.everybody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.everybody .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 50px 0px;
}

.everybody .item {
  max-width: 300px;
  /* adjust as needed to fit in row */
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #E8B500;
  margin: 1%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.everybody .left-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.everybody .left-column img {
  width: 155px;
}

.everybody .right-column {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
}



.everybody .right-column p {
  text-align: justify;
  max-width: 700px;
}


/*Schedule section*/
.schedule .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.schedule .col {
  flex-basis: 30%;
  margin-bottom: 2rem;
  text-align: center;
}

.sched-image-containter {
  max-width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule .col img {
  max-width: 250px;
}

.schedule .col h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: left;
}

.schedule .col ul {
  list-style: disc inside;
  padding-left: 0px;
}

.schedule .col li {
  margin: 0.5rem 0;
  font-size: 24px;
  text-align: left;
}

.schedule {
  margin-bottom: 150px;
}

/*Sponsors Section*/
.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sponsors a {
  color: #333;
  font-weight: 300;
  font-size: 24px;
  text-decoration: underline;
  transition: 0.3s;
}

.sponsors a:hover {
  color: #FF8E01;
  ;
}

h4{
  font-size: 24px;
  text-align: center;
  margin: 20px 0px 20px;
}

.chubb{
  margin:0px;
  width: 600px;
}

.sponsors .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 60px 0px 150px 0px;
}

.sponsors .image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.sponsors .image-grid img {
  width: 150px;
  object-fit: contain;

}

.sponsors .image-container {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

/*FAQ*/

.faq{
  margin-top: 50px;
}
summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

summary:hover {
  background-color: #FF8E01;
}

details {
  width: 100%;
}

details>summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}

details[open]>summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}

details>summary::-webkit-details-marker {
  display: none;
}

details[open] summary~* {
  animation: sweep .8s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}

.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 150px;
}

.faq .row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.faq .col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}

.faq p {
  padding: 20px;
}

.faq h1 {
  text-align: center;
  margin-bottom: 60px;
}


/* contact us*/
#contact {
  background-color: #f2f2f2;
  padding: 50px 0;
  display: flex;
}

.contact .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  height: 1000px;

}

.contact .column-left,
.contact .column-right {
  flex-basis: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.column-right{
  margin-left: 30px;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.contact h3 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.contact h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 18px;
  text-align: left;
}

.contact form {
  display: flex;
  align-items: center;
}

.contact label {
  font-size: 16px;
  margin-right: 10px;
}

.contact input[type="email"] {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 10px;
}

.contact button[type="submit"] {
  background-color: #0563BB;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact button[type="submit"]:hover {
  background-color: #054785;
}

.instagram-post {
  max-width: 1000px;
}

/*Footer*/
footer {
  background-color: #f4e6e6;
  color: #fff;
  padding: 20px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-columns .column {
  list-style: none;
  margin: 0;
  padding: 10px;
  width: 30%;
}

.footer-columns .column li {
  margin-bottom: 10px;
}

.footer-columns .column p {
  margin-bottom: 25px;
  text-align: left;
}

.footer-columns .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.footer-columns a {
  color: #333;
  padding: 0px;
}

.footer-columns p {
  color: #333;
  font-size: 14px;
}

.footer-column .column img {
  margin-bottom: 50px;
}

/*Laptops*/
@media only screen and (max-width: 1024px) {

  .hero .column-left img{
    margin: 0px 100px 0px 100px !important; 
    width: 300px;
  }
  h3 {
    font-size: 32px;
  }

  .left {
    max-width: 85%;
    margin-right: 55px !important;
    margin-left: 55px !important;
  }

  .left h3 {
    font-size: 32px;
  }

  .left p {
    font-size: 20px;
  }

  .image-container .main-image {
    width: 450px;
  }

  .text-desc {
    margin-right: 55px;
    margin-left: 55px;
  }

  .description {
    font-size: 20px;
    width: 85%;
  }

  .container .info {
    font-size: 20px;
  }

  .cat{
    top: -55px !important;
  }
  .psycotiger{
    top: 200px !important;
  }
  .bodega{
    top: 170px !important;
    right: 300px !important;
    width: 220px !important;
  }

  #first-time p{
    font-size: 20px;
  } 

  li{
    font-size: 20px !important;
  }

  .schedule img{
    max-width: 200px !important;
  }

  .everybody, .schedule, .sponsors, .contact{
    margin-left: 5%;
  }

  .image-grid .image-container{
    width: 175px;
    height: 175px;
  }
  .faq__content p{
    font-size: 20px;
  }
  
  .contact h2{
    font-size: 28px;
  }

  .contact p{
    font-size:20px;
  }
}

/*Tablet & Phones*/
@media only screen and (max-width: 768px) {
  .map-container, .what, .why, .characteristics{
    margin-left: 5%;
  }
  .hero{
    flex-direction: column;
    justify-content: space-around;
  }

  .map-container{
    margin-top: 50px;
  }

  .what{
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

  .description{
    text-align: center;
  }

  .what .text-desc, .text-desc p{
    width:100%; 
  }

  .characteristics{
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0px !important;
  }

  .characteristics .container{
    width: 600px;
  }


  .info-container, .info{
    max-width: 100% !important;
    text-align: center !important;
  }

  .info{
    text-align: center;
  }

  .why{
    position: relative;
  }

  .why .row{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 600px;
  }

  #why-title{
    height: 100px;
    
  }

  .psycotiger{
    width: 130px !important;
  }

  #why-title img{
   position: absolute;
   top: -12px; 
    right: 0px;
    display: none;
  }

  .why .row .left{
    align-items: center;
    text-align: center;
  }

  #more-than-image{
    margin-bottom: 40px !important;  
  }

  .image-container{
    margin:0px !important;
  }

  #first-time p{
    font-size: 18px;
  }

  .everybody .item{
    font-size: 18px;
  }

  .schedule .row{
    flex-direction: column;
  }
  
  .sponsors p{
    text-align: center;
  }

  .sponsors .image-grid{
    grid-template-columns: repeat(4, 1fr);
  }

  .image-grid .image-container{
    width: 120px;
    height: 120px;
  }

  .image-grid .image-container img{
    width: 100%;
  }

}