.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.map-container h3 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}

p {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    margin:50px 0px 50px 0px;
}


